.agency {
    background-color: #11749e;
    min-height: 740px;
}

.agency__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agency__title {
    margin: 100px 0px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
}

.agency__w {
    font-size: 247px;
    line-height: 211px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto";
    text-align: center;
    opacity: 0.2;
}

.agency__main-title {
    position: absolute;
    top: 75px;
    max-width: 700px;
    height: 34px;
    font-size: 38px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
    text-align: center;
}

.agency__feature {}

.agency__card {
    margin: 0px 15px 0px 0px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agency__cicrle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 133px;
    border-radius: 67px;
    background-color: #2e85aa;
    margin-bottom: 10px;
}

.agency__card-title {
    width: 170px;
    height: 27px;
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
    text-align: center;
    margin: 0px 0px 15px 0px;
}

.agency__card-subtitle {
    width: 266px;
    height: 81px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-family: "GothamBoock";
    text-align: center;
}

/*====================================================================*/
.akita {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.img-top-right {
    background: url(/img/main/work-right.png) no-repeat;
    background-size: cover;
}

.img-bottom-left {
    background: url(/img/main/work-left.png) no-repeat;
    background-size: cover;
}

.akita__text-black {
    margin: 0px 0px 0px 0px;
    background-color: #222;
    grid-row: 1 / 2;

}

.akita__text-white {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    background-color: #f3f3f3;
}

.div__akita__suptext {
    margin: 50px 0px 0px 160px;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Roboto";
}

.akita__title {
    width: 300px;
    height: 45px;
    font-size: 25px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
    margin: 15px 0px 35px 160px;
}

.akita__subtitle {
    width: 472px;
    height: 158px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-family: "GothamBoock";
    margin: 0px 0px 110px 160px;
}

.div__akita__suptext-white {
    margin: 50px 0px 0px 100px;
    font-size: 13px;
    line-height: 24px;
    color: #222;
    font-family: "Roboto";
}

.akita__title-white {
    width: 300px;
    height: 45px;
    font-size: 25px;
    line-height: 36px;
    color: #222;
    font-weight: 500;
    font-family: "GothamMenium";
    margin: 15px 0px 35px 100px;
}

.akita__subtitle-white {
    width: 472px;
    height: 158px;
    font-size: 15px;
    line-height: 24px;
    color: #222;
    font-family: "GothamBoock";
    margin: 0px 0px 110px 100px;
}

/*====================================================================*/
.blog {}

.blog__container {}

.blog__title {
    margin: 70px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
}

.blog__b {
    font-size: 247px;
    line-height: 211px;
    color: #222222;
    font-weight: bold;
    font-family: "Roboto";
    text-align: center;
    opacity: 0.2;
}

.blog__main-title {
    position: absolute;
    top: 75px;
    max-width: 502px;
    height: 34px;
    font-size: 38px;
    line-height: 45px;
    color: #222222;
    font-weight: 500;
    font-family: "GothamMenium";
    text-align: center;
}

.blog__subtitle {
    font-size: 30px;
    line-height: 37px;
    color: #222222;
    font-family: "GothamMenium";
    text-align: center;
}

.blog__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 15px;
}

.blog__card {
    margin-bottom: 110px;
}

.blog__img {}

.blog__card-title {
    width: 260px;
    height: 27px;
    font-size: 18px;
    line-height: 36px;
    color: #11749e;
    font-weight: 500;
    font-family: "GothamMenium";
    text-align: center;
    margin: 20px 0px 25px 0px;
}

.blog__card-subtitle {
    width: 266px;
    height: 150px;
    font-size: 15px;
    line-height: 24px;
    color: #222222;
    font-family: "GothamBoock";
    text-align: center;
}

/*====================================================================*/
.lorem {
    background-color: #11749e;
    margin: 100px 0px 0px 0px;
}

.lorem__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lorem__section {
    display: inline-flex;
    margin: 150px 0px;
}

.lorem__section img {
    padding-right: 15px;
}

.lorem__section:not(:last-child) {
    margin-right: 30px;
}

.lorem__text {
    max-width: 451px;
    height: 90px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-family: "GothamBoock";
    text-align: justify;
    margin-bottom: 50px;
}

/*====================================================================*/

.iphone {
    background: url(/img/main/background\ for\ iphone.png) no-repeat;
    background-size: cover;
    min-height: 700px;
}

.iphone__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iphone__text {}

.iphone__title {
    width: 300px;
    height: 45px;
    font-size: 25px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
    margin-bottom: 30px;
}

.iphone__subtitle {
    max-width: 472px;
    height: 100px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-family: "GothamBoock";
    margin-bottom: 100px;
}

.iphone_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.iphone__button-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding-left: 15px;
    max-width: 370px;
    height: 38px;
    background-color: #11749e;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
}

.iphone__button-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding-left: 15px;
    max-width: 400px;
    height: 38px;
    background-color: #11749e;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
}

.iphone__button-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding-left: 15px;
    max-width: 428px;
    height: 38px;
    background-color: #11749e;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
}

.iphone__img {
    margin: 100px 0px;
}

/*====================================================================*/
.team {
    min-height: 800px;
}

.team__title {
    margin: 70px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
}

.team__t {
    font-size: 247px;
    line-height: 211px;
    color: #222222;
    font-weight: bold;
    font-family: "Roboto";
    text-align: center;
    opacity: 0.2;
}

.team__title-main {
    position: absolute;
    top: 75px;
    max-width: 502px;
    height: 34px;
    font-size: 38px;
    line-height: 45px;
    color: #222222;
    font-weight: 500;
    font-family: "GothamMenium";
    text-align: center;
}

.team__subtitle {
    font-size: 30px;
    line-height: 37px;
    color: #222222;
    font-family: "GothamMenium";
    text-align: center;
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 25px;
}

.team__card-1 {}

.team__name {}

.team__name-title {}

.team__name-subtitle {}

.team__card-2 {}

.team__card-3 {}

.team__card-4 {}

/*====================================================================*/
.form {
    min-height: 700px;
    background: url(/img/main/background\ for\ team.png) no-repeat;
    background-size: cover;
}

.form__title {
    margin: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
}

.form__c {
    margin-top: 50px;
    font-size: 247px;
    line-height: 211px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto";
    text-align: center;
    opacity: 0.2;
}

.form__main-title {
    position: absolute;
    top: 125px;
    max-width: 900px;
    height: 35px;
    font-size: 38px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
    text-align: center;
}

.form__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 50px),repeat(2, 1fr);
    grid-template-areas: 
    'name email phone'
    'message message message'
    '. submit .';
    row-gap: 25px;
    column-gap: 25px;
}

.form__name {
    display: inline-block;
    max-width: 370px;
    height: 50px;
    background-color: #80808000;
    border: 1px solid #ffffff;
    padding-left: 15px;
}

.form__email {
    display: inline-block;
    max-width: 370px;
    height: 50px;
    background-color: #80808000;
    border: 1px solid #ffffff;
    padding-left: 15px;
}

.form__tel {
    display: inline-block;
    max-width: 370px;
    height: 50px;
    background-color: #80808000;
    border: 1px solid #ffffff;
    padding-left: 15px;
}

.form__message {
    grid-area: message;
    padding-left: 15px;
    display: inline-block;
    max-width: 1165px;
    height: 150px;
    background-color: #80808000;
    border: 1px solid #ffffff;
}

.form__submit {
    grid-area: submit;
    justify-self: center;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "GothamMenium";
    text-align: center;
    width: 227px;
    height: 64px;
    background-color: #11749e;
}
