/*===================STYLES===================*/
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
/*============================================*/

/*===================FONTS====================*/
@font-face {
    font-family: GothamBold;
    src: url(/fonts/GothamBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: GothamMenium;
    src: url(/fonts/GothamMedium.ttf);
    font-weight: 500;
}
@font-face {
  font-family: GothamBoock;
  src: url(/fonts/GothamBook.ttf);
}
/*============================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
html,
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  height: 100%;
}
ul[class],
ol[class] {
  list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
/*============================================*/

/*===================Global Settings====================*/
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}
[class*="_container"] {
  max-width: 1170px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
/*======================================================*/

/*============================Media Queries==============================================*/
@media (min-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 480px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 479px) {}
